<extend name="Public/_model" />
<block name="body"> 
	<link rel="stylesheet" type="text/css" href="">
	<form class="form form-horizontal" id="form-admin-add" >
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">账号：<span class="text-danger">*</span></label>
			<div class="formControls col-xs-12 col-sm-5">
				<input type="text" class="input-text" value="" placeholder="登录的账号" minlength="6"  name="login_name" required/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">姓名：<span class="text-danger">*</span></label>
			<div class="formControls col-xs-12 col-sm-5">
				<input type="text" class="input-text" value=""  placeholder="输入名称（昵称）"  minlength="2" name="name" required/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">初始密码：<span class="text-danger">*</span></label>
			<div class="formControls col-xs-12 col-sm-5">
				<input type="password" class="form-control" value="" placeholder="初始密码" minlength="6" id="password"  name="password" required/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">确认密码：<span class="text-danger">*</span></label>
			<div class="formControls col-xs-12 col-sm-5">
				<input type="password" class="form-control"  placeholder="确认新密码" minlength="6" equalTo='#password'  name="password2" required/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right"> 手机：</label>
			<div class="formControls col-xs-12 col-sm-5">
				<input type="text" class="form-control" value="" placeholder="手机号码"  name="mobile"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right"> 邮箱：</label>
			<div class="formControls col-xs-12 col-sm-5">
				<input type="text" class="form-control" placeholder="邮箱" name="email" id="email"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">用户组：</label>
			<div class="formControls col-xs-12 col-sm-5">
				<div class="control-group">
					<volist name='groups' id='group'>
						<div class="checkbox">
							<label>
								<input name="group_ids[]" value="{$group.id}" type="checkbox" class="ace">
								<span class="lbl">{$group.name}</span>
							</label>
						</div>
					</volist>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">备注：</label>
			<div class="formControls col-xs-12 col-sm-5">
				<textarea name="memo"  rows="5" class="input-xlarge" placeholder="说点什么...100个字符以内" dragonfly="true"></textarea>
			</div>
		</div>
		
		<div class="clearfix form-actions">
			<div class="col-md-offset-3 col-md-9">
				<button class="btn btn-info" type="submit">
					<i class="ace-icon fa fa-check bigger-110"></i>
					提交
				</button>

				&nbsp; &nbsp; &nbsp;
				<button class="btn" type="reset">
					<i class="ace-icon fa fa-undo bigger-110"></i>
					重置
				</button>
			</div>
		</div>
	</form>
</block>
<block name='js'>
	<script type="text/javascript">
		$(function () {
			ajaxForm('#form-admin-add');
		});
	</script>
</block>
