<extend name="Public/base" />
<block name="body"> 
	<div class="search_box"> 
		<form method="get" action="">
			<div class="input-group " style="width: 300px;">
				<!-- <span class="input-group-addon">
					<i class="ace-icon fa fa-check"></i>
				</span> -->

				<input type="text" class="form-control search-query" name="kw" value="{:I('kw')}" placeholder="输入管理员名称、电话">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-purple btn-sm">
						<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
						搜管理员
					</button>
				</span>
			</div>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray"> 
		<span class="l"> 
			<a class="btn btn-xs btn-primary" href="javascript:;" onclick="layer_show('添加管理员','{:U("add")}','800','550')"><i class="glyphicon glyphicon-plus"></i> 添加管理员</a>
		</span>
	</div>

	<table class="table table-border table-bordered table-hover table-bg table-sort dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
		<thead>
			
			<tr class="text-c" role="row">
				<th width="80"   style="width: 100px;">管理员名称</th>
				<th width="80"   style="width: 100px;">账号</th>
				<th width="80"   style="width: 100px;">手机</th>
				<th width="80"   style="width: 140px;">注册时间</th>
				<th width="80"   style="width: 140px;">最后登录时间</th>
				<th >描述</th>
				<th width="80"   style="width: 76px;">是否启用</th>
				<th width="100"  style="width: 85px;">操作</th>
			</tr>
		</thead>
		<tbody> 
			<volist name='pageInfo:data' id='item'> 
				<tr class="text-c odd" role="row"> 
					<td>{$item.name}</td>
					<td>{$item.login_name}</td>
					<td>
						{$item.mobile|default='无'}
					</td>
					<td>
						{$item.created|date='Y-m-d H:i:s',###}
					</td>
					<td>
						{$item.last_login_time|date='Y-m-d H:i:s',###}
					</td>
					<td>{$item.memo}</td>
					<td>
						<eq name='item.status' value='1'>
							<span class="badge badge-success">已启用</span>
							<else/>
							<span class="badge badge-danger">已停用</span>
						</eq>
					</td>
					<td class="f-14">
						<eq name='item.status' value='1'>
							<a  onclick="admin_stop('{$item.id}')" class="red" href="javascript:;" title="停用"><i class="ace-icon glyphicon glyphicon-remove"></i></a>
							<else/>
							<a  onclick="admin_start('{$item.id}')" class="green" href="javascript:;" title="启用"><i class="ace-icon glyphicon glyphicon-ok"></i>
							</a>
						</eq>
						<a title="设置密码" href="javascript:;" class="green" onclick="layer_show('设置密码','{:U('setPassword?id='.$item['id'])}','800','500')" >
							<i class="ace-icon glyphicon glyphicon-lock"></i>
						</a> 
						<a title="编辑" href="javascript:;" class="green" onclick="layer_show('编辑管理员','{:U('modify?id='.$item['id'])}','800','500')" >
							<i class="ace-icon fa fa-pencil bigger-130"></i>
						</a>
						<a title="删除" href="javascript:;" onclick="admin_role_del(this,'{$item.id}')" class="red" >
							<i class="ace-icon fa fa-trash-o bigger-130"></i>
						</a>
					</td>

				</tr>
			</volist>
		</tbody>
	</table>
	{$pageInfo:html}
	<script type="text/javascript">
		/*管理员-角色-删除*/
		function admin_role_del(obj,id){
			common_opt('管理员删除须谨慎，确认要删除吗？',id,"{:U('del')}");
		}
		function admin_stop(id) {
			common_opt('确认要停用吗？',id,"{:U('disable')}");
		}
		function admin_start(id) {
			common_opt('确认要启用吗？',id,"{:U('recovery')}");
		}
	</script>

</block>