<extend name="Public/_model" />
<block name="body"> 
	<form action="" method="post" class="form form-horizontal" id="form-admin-role-add">
		<input type="hidden" name="id" value="{$info.id}">
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">权限名称：<span class="text-danger">*</span></label>
			<div class="formControls col-xs-12 col-sm-5">
				<input type="text" class="width-100" value="{$info.name}" placeholder="权限名称" id="roleName" name="name" minlength="2" required/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">权限编码：</label>
			<div class="formControls col-xs-12 col-sm-5">
				<input type="text" class="width-100" value="{$info.code}" placeholder="权限编码" id="roleName" name="code"  />
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">分组：</label>
			<div class="formControls col-xs-12 col-sm-5">
				<span class="select-box" style="width:150px;">
					<select id='sltPid' class="select valid" name="pid" size="1" aria-required="true" aria-invalid="false">
						<option value="0">顶级分组</option>
						<volist name='lis' id='item'>
							<option value="{$item.id}">&nbsp;&nbsp;{$item.title_show}</option>
						</volist>
					</select>
					<label id="adminRole-error" class="error valid" for="adminRole"></label>
				</span>

			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">是否分组：</label>
			<div class="formControls col-xs-12 col-sm-5">
				<eq name='info.is_group' value='1'>
					<div class="radio" style="float: left">
						<label>
							<input name="is_group" checked="" type="radio" value="1" class="ace">
							<span class="lbl">是&nbsp;</span>
						</label>
					</div>
					<div class="radio" style="float: left">
						<label>
							<input name="is_group" type="radio" value="0" class="ace">
							<span class="lbl">否&nbsp;</span>
						</label>
					</div>
					<else/>
					<div class="radio" style="float: left">
						<label>
							<input name="is_group"  type="radio" value="1" class="ace">
							<span class="lbl">是&nbsp;</span>
						</label>
					</div>
					<div class="radio" style="float: left">
						<label>
							<input name="is_group" checked="" type="radio" value="0" class="ace">
							<span class="lbl">否&nbsp;</span>
						</label>
					</div>
				</eq>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">备注：</label>
			<div class="formControls col-xs-12 col-sm-5">
				<textarea name="remark"  class="input-xlarge" >{$info.remark}</textarea>
			</div>
		</div>

		
		<div class="clearfix form-actions">
			<div class="col-md-offset-3 col-md-9">
				<button class="btn btn-info" type="submit">
					<i class="ace-icon fa fa-check bigger-110"></i>
					提交
				</button>

				&nbsp; &nbsp; &nbsp;
				<button class="btn" type="reset">
					<i class="ace-icon fa fa-undo bigger-110"></i>
					重置
				</button>
			</div>
		</div>
	</form>
</block>
<block name='js'>
	<script type="text/javascript">
		$(function () {
			//回绑数据
			$('#sltPid').val("{$info.pid}");
			ajaxForm('#form-admin-role-add');
		});
	</script>
</block>
