<extend name="Public/base" />
<block name='breadcrumb'>
	<li><a href="#">管理员管理</a></li>
	<li class="active">菜单管理</li>
</block>
<block name="body">
	
	<div class="search-area">
		<span class="pull-left"> 
			<a href="javascript:;" onclick="data_dels()" class="btn btn-xs btn-danger">
				<i class="ace-icon fa fa-trash-o bigger-130"></i> 批量删除
			</a>
			<a class="btn btn-primary btn-xs" href="javascript:;" onclick="layer_show('添加菜单','{:U("add")}','800','450')">
				<i class="glyphicon glyphicon-plus"></i> 添加菜单
			</a>
		</span>
		<span class="pull-right">共有数据：<strong>{$lis|count}</strong> 条</span>
		<div class="clearfix"></div>
	</div>

	<table class="table table-border table-bordered table-hover table-bg table-sort dataTable no-footer" id="data-list-table" role="grid" aria-describedby="DataTables_Table_0_info">
		<thead>

			<tr class="text-c" role="row">
				<th width="25">
					<label class="pos-rel">
						<input type="checkbox" class="ace">
						<span class="lbl"></span>
					</label>
				</th>
				<th width="200" >名称</th>
				<th width="50" >图标</th>
				<th width="300" >连接</th>
				<th >权限</th> 
				<th width="50">操作</th>
			</tr>
		</thead>
		<tbody> 
			<volist name='lis' id='item'> 
				<tr class="text-c odd" role="row"> 
					<td>
						<label class="pos-rel">
							<input type="checkbox" value="{$item.id}" class="ace" />
							<span class="lbl"></span>
						</label>
					</td>
					<td style="text-align: left;">{$item.title_show}</td>
					<td >
						<i class="Hui-iconfont {$item.icon_class}"></i>

					</td>
					<td>
						{$item.url|default='无'}
					</td>  
					<td>{$item.action|default='无'}</td>
					<td class="">
						<a title="编辑" href="javascript:;" class="green" onclick="layer_show('编辑菜单','{:U('modify?id='.$item['id'])}','800','450')" >
							<i class="ace-icon fa fa-pencil bigger-130"></i>
						</a> 
						<a title="删除" href="javascript:;" onclick="self_del('{$item.id}')" class="red" >
							<i class="ace-icon fa fa-trash-o bigger-130"></i>
						</a>
					</td>

				</tr>
			</volist>
		</tbody>
	</table>
	<script type="text/javascript">
		function self_del(id){
			common_opt('确定要删除当前菜单吗？',id,"{:U('del')}");
		}
	</script>

</block>