<extend name="Public/base" />
<block name='breadcrumb'>
	<li><a href="#">管理员管理</a></li>
	<li class="active">用户组管理</li>
</block>
<block name="body"> 
	<!-- <div class="text-c"> 
		<form method="get" action="">
			<input type="text" class="input-text" value="{:I('kw')}" style="width:250px" placeholder="输入用户名称、电话" name="kw">
			<button type="submit" class="btn btn-success radius"  ><i class="Hui-iconfont"></i> 搜用户</button>
		</form>
	</div> -->
	<div class="search-area"> 
		<span class="pull-left"> 
			<a href="javascript:;" onclick="data_dels()" class="btn btn-xs btn-danger">
				<i class="ace-icon fa fa-trash-o bigger-130"></i> 批量删除
			</a>
			<a class="btn btn-xs btn-primary" href="javascript:;" onclick="layer_show('添加用户组','{:U("add")}','800','350')"><i class="glyphicon glyphicon-plus"></i> 添加用户组</a>
		</span>
		<span class="pull-right">共有数据：<strong>{$lis|count}</strong> 条</span>
		<div class="clearfix"></div>
	</div>

	<table class="table table-border table-bordered table-hover table-bg table-sort dataTable no-footer" id="data-list-table" role="grid" aria-describedby="DataTables_Table_0_info">
		<thead>
			<tr class="text-c" role="row">
				<th width="25">
					<label class="pos-rel">
						<input type="checkbox" class="ace">
						<span class="lbl"></span>
					</label>
				</th>
				<th  style="width: 80px;">ID</th>
				<th  style="width: 80px;">用户组</th>
				<th  style="width: 120px;">是否系统用户组</th>
				<th>描述</th> 
				<th  style="width: 80px;">操作</th>
			</tr>
		</thead>
		<tbody> 
			<volist name='lis' id='item'> 
				<tr class="text-c odd" role="row"> 
					<td>
						<label class="pos-rel">
							<input type="checkbox" value="{$item.id}" class="ace" />
							<span class="lbl"></span>
						</label>
					</td>
					<td>{$item.id}</td>
					<td>{$item.name}</td>
					<td>
						<eq name='item.is_sys' value='1'>
							是
							<else/>
							否
						</eq>
					</td>
					<td>{$item.intro}</td>
					<td class="f-14">
						<a title="权限管理" href="javascript:;"  onclick="layer_show('权限管理','{:U('auth?id='.$item['id'])}')" >
							<i class="ace-icon fa fa-credit-card bigger-130"></i>
						</a>
						<a title="编辑" href="javascript:;" class="green" onclick="layer_show('编辑','{:U('modify?id='.$item['id'])}','800','350')" >
							<i class="ace-icon fa fa-pencil bigger-130"></i>
						</a> 
						<a title="删除" href="javascript:;" onclick="self_del('{$item.id}')" class="red"  >
							<i class="ace-icon fa fa-trash-o bigger-130"></i>
						</a>
					</td>

				</tr>
			</volist>
		</tbody>
	</table>
	<script type="text/javascript">
		function self_del(id){
			common_opt('确定要删除当前菜单吗？',id,"{:U('del')}");
		}
	</script>

</block>