<extend name="Public/base" />
<block name='breadcrumb'>
	<li><a href="#">日志管理</a></li>
	<li class="active">登录记录</li>
</block>
<block name="body"> 
	<div class="search-area"> 
		<span class="pull-left"> 
			<a href="javascript:;" onclick="data_dels()" class="btn btn-danger btn-xs">
				<i class="ace-icon fa fa-trash-o bigger-130"></i> 批量删除
			</a>
		</span>
		<div class="clearfix"></div>
	</div>

	<table class="table table-border table-bordered table-hover table-bg table-sort dataTable no-footer" id="data-list-table">
		<thead>

			<tr class="text-c" role="row">
				<th width="25">
					<label class="pos-rel">
						<input type="checkbox" class="ace">
						<span class="lbl"></span>
					</label>
				</th>
				<th width="150" >管理员名称</th>
				<th width="150" >登录时间</th>
				<th width="150" >登录IP</th>
				<th >登录地址</th> 
				<th width="50">操作</th>
			</tr>
		</thead>
		<tbody> 
			<volist name='pageInfo:data' id='item'> 
				<tr class="text-c odd" role="row"> 
					<td>
						<label class="pos-rel">
							<input type="checkbox" value="{$item.id}" class="ace" />
							<span class="lbl"></span>
						</label>
					</td>
					<td>{$item.name}</td>
					<td>{$item.created|date='Y-m-d H:i:s',###}</td>
					<td>{$item.ip}</td>  
					<td>{$item.ip_address|default='无'}</td>
					<td class="f-14">
						<a title="删除" href="javascript:;" onclick="self_del('{$item.id}')" class="red" >
							<i class="ace-icon fa fa-trash-o bigger-130"></i>
						</a>
					</td>
				</tr>
			</volist>
		</tbody>
	</table>
	{$pageInfo:html}
</block>